
*,
*:before,
*:after {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	position: relative;
	height: 100%;
}
body {
		overflow-x: hidden !important;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
		color: #444;;
		line-height: 160%;
		background: #f7f7f7;
		
}

strong { font-weight: 700; }

a {
	color: #00e8c1; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus {
	color: #09807a;
	text-decoration: none;
}

h1, h2, h3, h4 {color: #000;}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    line-height: 200%;
}

img { max-width: 100%; height: auto; }

hr {border-bottom-color: #888;}

.medium-paragraph { font-size: 14px; line-height: 24px;}

.colored { color: #00e8c1; }
.colored2 { color: #02a79f; }
.light {color: #000 !important;}
.dark { color: #fff !important;}
.kalam {font-family: 'Kalam', cursive; font-size: 48px; letter-spacing: 2px;}


::-moz-selection { background: #00e8c1; color: #fff; text-shadow: none; }
::selection { background: #00e8c1; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto;}
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/
.divider-0 { padding: 10px 0 10px 0; }
.divider-1 { padding: 25px 0 15px 0; }
.divider-2 { padding: 65px 0 15px 0; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding-top: 0;
	background: #00e8c1;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar-light {
	background: #fff;
	border-bottom: 1px solid #dadada;
}
.navbar-no-bg { background: none;}

ul.navbar-nav {
	font-size: 15px;
    color: #fff;
    font-weight: 400;
    text-transform: none;
    margin-top: 20px;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; transition: ease-in-out .5s;}
.navbar-inverse ul.navbar-nav li a:hover { color: #8fffde;}
.navbar-inverse ul.navbar-nav li a.active { color: #fff; outline: 0; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-3 {
    display: inline-block;
    margin: 10px 0px 0px 5px;
    padding: 6px 20px;
    background: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    opacity: 1;
    text-transform: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.navbar-inverse ul.navbar-nav li a.btn-link-3:hover,
.navbar-inverse ul.navbar-nav li a.btn-link-3:focus,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; opacity: 0.6; color: #000; }

.navbar-brand {
	width: 178px;
	height: 81px;
	background: url(../img/logo2.svg) left top no-repeat;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }


/***** Top content *****/
#causa { background: url('../img/backgrounds/3.jpg') center bottom no-repeat; background-size: cover;}
#home { background: url('../img/backgrounds/4.jpg') center bottom no-repeat; background-size: cover;}
#donar { background: url('../img/backgrounds/bgris.jpg') center top no-repeat; background-size: cover;}

.top-content { padding: 13% 0;}
#causa.top-content { padding: 70px 0 140px 0;}
.top-content.top-doning {padding: 70px 0 130px 0;}
.top-content .text { padding-top: 60px; color: #fff; }
.top-content .text h1 { color: #fff; font-weight: 300; font-size: 42px; margin: 5px 10px;}
.top-content .text .big {font-size: 43px; font-weight: 700; padding: 20px 29px;}
.top-content .text h4 { letter-spacing: 12px; font-weight: 100;}
.top-content .text h3 { margin: 0px 10px; font-weight: 100;}
.top-content .text h3 small { font-style: italic; color: #fff; padding: 0 5px;}
.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }

.icon-box {width: 220px; margin-top: -750px; margin-right: -40px; padding: 20px 10px; position: -webkit-sticky;position: sticky; float: right; right: 0; top: 15%; color: #02a79f; background: #f7f7f7d4;; border: 1px dotted #f7f7f7;z-index: 99;}
.icon-box a {text-decoration: none; color:#02a79f;}

/********  Home  *********/
.home .section-container .col-izq {margin-top: -80px;}
.home .section-container .col-der {margin-top: -10px; padding-left: 5%;}
.home .container.contenido {padding: 5% 5% 10%;}
.home .subheader {background: #f5f5f5; border-bottom: 1px solid #dadada; padding: 5% 10% 0px;}
.home h2.titulo { border-bottom: 3px solid #00e8c1; padding-bottom: 20px; margin-bottom: 0;}
.home h2.titulo2 {font-weight: 900; }
.home .cont2 {background: url('../img/backgrounds/bgris02.jpg') top center no-repeat; background-size: cover;}
.home .cont2 .container {padding-top: 160px;}
.home .panel-title {font-size: 20px;}
.home .panel-default {border: 0 !important;}
.home .panel-default > .panel-heading + .panel-collapse > .panel-body {border-top: 0; background:#f7f7f7; padding: 40px;}
.home .panel-default > .panel-heading {padding: 30px;}
.home .navbar .btn-success {margin-top:15px;}
.home .lead {font-size: 18px;}
.home .hricon {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #02a79f;
}
.home .fa-3x {
	font-size: 2.5em;
	margin: 0 15px 0 0 ;
	text-align: left;
	float: left;
}
.home .fa-3x.don-ico{margin: 0 15px 45px 0;}
.home .nav-tabs {
	display: flex;
	justify-content: center;
	cursor: pointer;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #3ce7c0;
}
.home .nav-tabs>li.active>a, .home .nav-tabs>li.active>a:focus {
	color: #fff;
	cursor: default;
	background-color: #00e8c1;
	border: 1px solid #00e8c1;
	border-bottom-color: transparent;
	cursor: pointer;

}
.home .nav-tabs>li.active>a:hover {
	background-color: #31cca8;
}
.home .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0;
}
.home .nav-tabs>li>a {
	position: relative;
	display: block;
	padding: 10px 30px;
	color: #888;
}
.home .nav-tabs>li {
	background: #f3f3f3;
}
.home .categoria {
	background: #00e8c1;
	color: #444;
	padding: 5px 15px;
	margin-top: -30px;
	width: 70%;
	float: right;
	text-align: center;
	position: relative;
}
.home .progress-bar {
	background: #00e8c1;
	box-shadow: none;
}
.home .thumbnail .caption {
	color: #666;
}
.home .iconos {
	background: url('../img/bgiconos.jpg') center no-repeat;
	background-size: cover;
	padding: 60px 50px;
}
.home .iconos h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	margin: 40px 0;
}
.home .row-botones {
	padding: 0 10%;
}
.home .btn-lg {
	padding: 20px 15px;
}
.home .img-globo {
	padding: 20px;
}
.home .mascara {
	background: rgba(247,247,247,0);
	background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 51%, rgba(247,247,247,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,0)), color-stop(51%, rgba(247,247,247,1)), color-stop(100%, rgba(247,247,247,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 51%, rgba(247,247,247,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 51%, rgba(247,247,247,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 51%, rgba(247,247,247,1) 100%);
	background: linear-gradient(to bottom, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 51%, rgba(247,247,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0 );
	height: 220px;
	position: relative;
	margin-top:-230px;
}
.thumbnail {border: 0; padding: 4px 0;}
.thumbnail .caption {padding: 10px 20px;}

.registro {background: #f5f5f5; text-align: center;}
.registro .navbar {height: 81px;}
.registro .container {padding-top: 5%;padding-bottom: 5%;}
.registro .panel {border: 1px solid #eaeaea; border-radius: 0; }
.registro .panel-body {padding: 15px 40px; }
.registro .navbar .btn-success {margin-top:15px;}
.registro .btn-info {text-transform: uppercase; padding: 10px 50px;font-weight: 100; margin: 10px 0;}
.registro .btn-facebook {text-transform: uppercase; padding: 12px 10px; }
.registro .btn-facebook i {margin: 0 8px;}
.registro .btn-google {text-transform: uppercase; padding: 12px 10px; }
.registro .btn-google i {margin: 0 8px;}
.registro form {padding-top: 5%;}
.registro .olvido {color:#888; text-decoration: underline;}
.registro .olvido:hover {color: #8fffde}

.interno {background: #f7f7f7; color: #888;}
.interno .navbar {height: 81px;}
.interno .contenedor {padding-bottom: 10%}
.interno .subheader {background: #f5f5f5; border-bottom: 1px solid #dadada;}
.interno .subheader .container, .interno .contenido .container {padding: 50px 5% 0 5%;}
.interno .usuario { width: 390px; margin-top: -35px; padding-right: 5%;}
.interno .navbar .btn-success {margin-top:15px;}
.interno .breadcrumb {
	margin-bottom: 20px;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	padding: 8px 0;
}
.interno .nav-tabs {
	border-bottom: 0;
	margin-top: 40px;
}
.interno .nav-tabs>li.active>a, .interno .nav-tabs>li.active>a:focus, .interno .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: transparent;
	border: 0;
	/* border-bottom-color: transparent; */
	border-bottom: 2px solid #00e8c1;
}
.interno .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 0;
	border-radius: 0;
	color:#999;
}
.interno .nav-tabs>li>a:hover {
	color:#555;
}
.iterno .fa-3x {
	font-size: 2.5em;
}
.interno .btn-info {
	padding: 10px 20px;
	text-transform: uppercase;
}
.interno .numero {
	border-radius: 100%;
	border: 2px solid #dadada;
	width: 30px;
	height: 30px;
	line-height: 25px;
	font-size: 20px;
	font-weight: 400;
	overflow: hidden;
	text-align: center;
	float: left;
	margin-top: 5px;
}
.interno .pre-evento {
	color: #777;
	font-weight: 500;
}
.interno .lleva {
	margin: 10px 0;
}
.interno .evento-img {
	width: 100%;
	height: 170px;
	background: url('../img/bgresumen.png') center bottom no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}
.interno .evento-img.invita {
	position: relative;
	top: -26px;
	z-index: -1;
}
.interno .mailing-img {
	width: 100%;
	height: 190px;
	background: url('../img/bgmailing.jpg') center bottom no-repeat;
	background-size: auto;
	overflow: hidden;
}
.interno .col-sticky {
	position: sticky;
	right: 0;
	top: 5px;
	margin-top: 10px;
}
.interno .panel, .interno .panel-default {
	border-radius: 0;
	box-shadow: none;
  border-color: #f7f7f7;
}
.interno .panel-resumen .panel-body {
	padding: 50px;
}
.interno .panel-donacion {
	background: #f7f7f6;
	padding: 15px 10px 0 10px;
}
.interno .table-donacion .table>tbody>tr>td {
	border: 0;
}
.interno .donacion-col {
	padding-right: 50px;
}
.interno .panel-evento {
	padding: 35px;
}
.interno .table .btn-info {padding: 2px 15px;}

.interno .img-panel {
	width: 100%;
	padding: 0;
	height: 50px;
	background: url('../img/bgresumen.png') center no-repeat;
}

.interno .panel-default .panel-heading {
	padding: 10px 0;
	background: transparent;
	border-color: transparent;
	color: #888;
}

.interno .panel-causa .panel-body {
	padding: 30px;
}

.interno .causa-ev {
	margin: 5px auto; 
	display: block;
	padding: 5px;
}

.interno .col-xs-6.col-md-3 .circular-chart {
	max-width: 100%;
}

/**Sidenav**/

.sidenav {
	height: 100%; 
	width: 100%;
	margin-left: -100%;
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
	background-color: #02a79f;
  overflow-x: hidden; 
  padding-top: 120px;
  transition: 0.5s ease-in-out; 
}
.sidenav.ancho {
	margin-left: 0;
}
.sidenav a {
  text-decoration: none;
  font-size: 1.52rem;
  color: #fff;
  display: block;
	transition: 0.3s all;
	cursor: pointer;
}
.sidenav a:hover {
	color: #3de8c1;
}
.sidenav .closebtn {
  position: absolute;
  top: 95px;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #df6482; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }

/***** Buttons *****/
.btn-facebook { color: #fff; background-color: #395692; border-color: #395692; transition: ease-in-out .5s; border-radius: 0; }
.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {color: #fff; background-color: #27447f; border-color: #395692; } 
.btn-twitter { color: #fff; background-color: #35ade4; border-color: #35ade4; transition: ease-in-out .5s; border-radius: 0; }
.btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus {color: #fff; background-color: #2797cb; border-color: #35ade4; }
.btn-whatsapp { color: #fff; background-color: #25d366; border-color: #25d366; transition: ease-in-out .5s; border-radius: 0; }
.btn-whatsapp:hover, .btn-whatsapp:active, .btn-whatsapp:focus {color: #fff; background-color: #1cad52; border-color: #46534b; }
.btn-google { color: #fff; background-color: #de4b39; border-color: #de4b39; transition: ease-in-out .5s; border-radius: 0; }
.btn-google:hover, .btn-google:active, .btn-google:focus {color: #fff; background-color: #bb3c2d; border-color: #de4b39; } 
.fa-2x {font-size: 1.5em;}
.link-1 { padding: 0 15px; color:#888; }
.link-1:hover {color:#00e8c1;}
.link-1 .fa { padding-right: 20px; color: #00e8c1; }
.hverde { border-top: 1px solid #00e8c1; }
.btn-success { color: #fff; background-color: #00e8c1; border-color: #00e8c1; padding: 10px 15px; border-radius: 0px; margin: 5px 10px 5px 0px;}
.btn-success:hover, .btn-success:active, .btn-success:focus {color: #fff; background-color: #02a79f; border-color: #00e8c1;}
.btn-info { color: #fff; background-color: #02a79f; border-color: #02a79f; padding: 10px 15px; border-radius: 0px;}
.btn-info:hover, .btn-info:active, .btn-info:focus {color: #fff; background-color: #09807a; border-color: #00e8c1;}
.btn-primary { color: #fff; background-color: #999; border-color: #999; border-radius: 0px;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {color: #fff; background-color: #777; border-color: #777;}
.btn-alert { color: #fff; background-color: #02a79f; border-color: #02a79f; padding: 10px 65px; border-radius: 0px;font-weight: 500;}
.btn-alert:hover, .btn-alert:active, .btn-alert:focus {color: #fff; background-color: #09807a; border-color: #02a79f;}
.btn-warning { color: #000; background-color: #f3f3f3; border-color: #f3f3f3; padding: 10px 55px; border-radius: 0px;}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {color: #000; background-color: #fff; border-color: #fff;}
.btn-success.btn-sm{padding: 5px 10px; margin: 10px 5px;}

.donar {
	padding: 20px 30px;
	border: 1px solid #888;
	margin: 20px 0;
}

/**** Inputs ***/
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 25px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #eaeaea;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: transparent;
	border: 0;
	border-left: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 0;
}
.input-sm {
	height: auto;
	padding: 5px;
	font-size: 12px;
}

.select {
	width: 100%;
	display: block;
}

option {
	color: #555;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 12px;
}
.interno .panel input[type=checkbox], input[type=radio] {
	margin: -5px 0 0 -20px;
	line-height: normal;
}
.form-causa {padding: 20px 8px;}

/* Chart */
.single-chart {
	justify-content: space-around ;
  }
  
.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
  }
  
.circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
  }
  
.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
  }
  
@keyframes progress {
		0% {
			stroke-dasharray: 0 100;
		}
  }
  
.circular-chart.green .circle {
	stroke: #00e8c1;
  }
  
.percentage {
	fill: #666;
	font-size: .5em;
	text-anchor: middle;
	}
	
	.progress-bar {background-color: #00e7c1;}

/***** Footer *****/

footer { padding: 40px 0 45px 0; background-color: #00e8c1; color:#fff;}
footer ul li a { color: #fff; } 
footer ul.navbar-nav { margin-top:0; }
footer .social {width:25px; margin:5px;}
footer .row-footer .col-xs-2.col-sm-2.col-md-1.col-lg-1 {border-left: 1px solid #fff;}

.tooltip-inner {
  max-width: 600px;
  padding: 3px 2px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

/***** MEDIA QUERIES *****/

@media (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 1440px) {
	.interno .usuario { width: 420px;}
}

@media (min-width: 1199px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 30%;
	}
	.causa .col-izq {margin-top: -50px;}
}

@media (min-width: 768px) {
	.interno .subheader .container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	.home .subheader .container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	.causa .col-der {margin-top: -20px;}
	.navbar-right {
    float: right!important;
    margin-right: 15px;
	}
	footer .navbar-right { margin-right:0; }
	footer .nav>li>a { padding: 20px 0; }
	.causa .col-izq {margin-top: -70px;}
	footer .row-footer .col-xs-12.col-sm-6.col-md-9.col-lg-9 {text-align: right;}
}


@media (min-width: 768px) and (max-width: 991px) {
	
	.nav>li {
		position: relative;
		display: block;
		margin: 0 2px;
	}
	.section-description p { padding: 0; }
	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

	ul.navbar-nav {font-size: 12px;}
	
}



@media (max-width: 1200px) {
	.icon-box {width: 175px; margin-right: -20px; margin-top: -790px; padding: 10px 10px; top: 10%;}
	.home .categoria { width: 100%; padding: 5px; }
	.circular-chart {
		max-height: 200px;
		max-width: 100%;
		}
		.home .fa-3x.don-ico {
			margin: 0 15px 95px 0;
	}
}

@media (max-width: 991px) {
	.home .section-container .col-izq {
    margin-top: -90px;
	}
	.home .iconos {padding: 60px 5px;}
	.home .row-botones {
    padding: 0;
	}
	footer .nav>li>a { padding: 20px 5px; }
	footer .social {width:35px; margin:3px;}
	.circular-chart {
    max-height: 150px;
	}
	.causa .col-izq {margin-top: -100px;}
	
	.interno .col-xs-6.col-md-3 .circular-chart {
		max-height: 180px;
	}
	.home .fa-3x.don-ico {
    margin: 0 15px 135px 0;
	}
	.home .navbar-right {
		margin-right: 0px;	
	}
	.navbar-inverse ul.navbar-nav li a.btn-link-3 {padding: 5px 10px; margin: 10px 0px 0px 0px;}
	.nav > li > a {
    position: relative;
    display: block;
		padding: 10px 13px;}
	.causa .btn.btn-facebook, .causa .btn.btn-twitter, .causa .btn.btn-whatsapp {padding: 5px;}
}

@media (max-width: 767px) {

	#home { background: url('../img/backgrounds/headermobile.jpg') center top no-repeat; background-size: cover;}
	#causa {background-position: left top;}
	.landing .row {padding: 0 5%;}
	.top-content {padding: 140px 0 270px 0;}
	.top-content .text { padding-top: 15%;}
	.kalam {font-size: 46px; line-height: .5;}
	.top-content .text .big {font-size:46px;}
	.home .categoria { width: 50%; padding: 5px; }
	.home .nav-tabs > li > a {
		padding: 10px 10px;
    font-size: 12px;
	}
 .home .tab-content {padding: 0 30px;}
 .home .row.row-botones .col-sm-4 {margin:25px 0;}
 .navbar { padding-top: 0; z-index: 1090;}
 .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: #101010; background: #00e8c1eb;}
 .navbar-toggle {padding-right: 0;}
 .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0px; }
 .navbar-collapse { border: 0; }
 .navbar-inverse .navbar-toggle { border-color: transparent; }
 .navbar-inverse ul.navbar-nav li a.btn-link-3 { margin: 10px; }
 footer .social {width:40px; margin:5px;}
 footer .row-footer .col-xs-12.col-sm-6.col-md-9.col-lg-9 {text-align: center; padding-top:20px;}
 .home .section-description p { padding: 0; }
 .home .section-container .col-izq {margin-top: 20px; padding: 0 35px;}
 .home .section-container .col-der {margin-top: -150px; padding-left: 35px; padding-right: 35px;}
 .home .section-container .btn-nuevo {margin-top:-210px; margin-right: 30px}	
 .home .subheader {padding: 10% 10% 0px;}
 .home .fa-3x.don-ico {margin: 0 15px 55px 0;}
 .home .img-globo {padding: 30px; width: 280px; margin:0 auto;}
 .section-container .btn-nuevo {margin-top:-30px; margin-right: 30px}	
 .features-box { text-align: center; }
 .features-box h3 { margin-top: 5px; padding-top: 10px; }
 .navbar-inverse .navbar-toggle:hover {background-color: transparent !important;}
 .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: transparent !important;}
 .navbar-inverse ul.navbar-nav li a:hover { color: #ddd; border-bottom: none; }
 .navbar-inverse ul.navbar-nav li a.active { color: #fff; outline: 0; border-bottom: none; }
 .interno .navbar { padding-top: 0; background: #fff; }
 .interno .usuario {margin-top: -65px; width: 100%; z-index: 9999; position: relative; z-index: 1100;}
 .interno .usuario h4 {margin: 3px 0;}
 .interno h2.titulo { border-bottom: 3px solid #00e8c1; padding-bottom: 10px; margin-bottom: 0;}
 .interno .btn.btn-twitter.btn-block, .interno .btn.btn-facebook.btn-block, .interno .btn.btn-whatsapp.btn-block, .interno .btn.btn-primary.btn-block {
	margin-top: 5px;
}
 .circular-chart {
	max-height: 200px;
	}
.interno .navbar .btn-success, .registro .navbar .btn-success, .home .navbar .btn-success {
	margin-top: -85px;
}
.interno .subheader .container, .interno .contenido .container {
	padding: 30px 5% 0 5%;
}
.registro .panel {margin-top: 30px;}

}

@media (max-width: 576px) {
	h1 { font-size: 36px; }
	h2 {font-size: 30px;}
	h4 {font-size: 16px;}
	.kalam {font-size: 35px; line-height: .5;}
	.top-content .text { padding-top: 15%;}
	.top-content .text .big {font-size:35px; padding: 20px 10px;}
	footer .social {width:40px; margin:5px;}
	footer .row-footer {margin:0 auto;}
	.interno .usuario {width: 100%;}
	.interno .usuario a {font-size: 1.3rem;}
	.home .nav-tabs {
		display: flex;
		justify-content: center;
		cursor: pointer;
		width: 100% !important;
		margin: 0 auto;
		border-bottom: 1px solid #3ce7c0;
	}
	.home .nav-tabs > li {
    position: relative;
    display: block;
    margin: 0 2px;
	}
	.home .nav-tabs > li > a {
		padding: 10px 7px;
    font-size: 12px;
	}
	.home .categoria { width: 70%; padding: 5px; }
	.home .tab-content { padding: 0 5px; }
	.interno .panel-evento {
    padding: 15px;
}
	
}
