
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
		color: #888;
		line-height: 160%;
}

strong { font-weight: 500; }

a {
	color: #00e7c1; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus {
	color: #09807a;
	text-decoration: none;
}

h1, h2, h3, h4 {color: #000;}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    line-height: 200%;
}

img { max-width: 100%; height: auto; }

.medium-paragraph { font-size: 14px; line-height: 24px; }

.colored { color: #00e7c1; }
.dark { color: #fff !important;}

::-moz-selection { background: #00e7c1; color: #fff; text-shadow: none; }
::selection { background: #00e7c1; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto;}
.section-container .col-izq {margin-top: -120px;}
.section-container .col-der {margin-top: -90px; padding-left: 5%;}
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/
.divider-0 { padding: 10px 0 10px 0; }
.divider-1 { padding: 25px 0 15px 0; }
.divider-2 { padding: 65px 0 15px 0; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding-top: 0;
	background: #00e7c1;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar-light {
	background: #fff;
	border-bottom: 1px solid #dadada;
}
.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: none;
    margin-top: 20px;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; transition: ease-in-out .5s;}
.navbar-inverse ul.navbar-nav li a:hover { color: #8fffde;}
.navbar-inverse ul.navbar-nav li a.active { color: #fff; outline: 0; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-3 {
    display: inline-block;
    margin: 10px 90px;
    padding: 6px 35px;
    background: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    opacity: 1;
    text-transform: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.navbar-inverse ul.navbar-nav li a.btn-link-3:hover,
.navbar-inverse ul.navbar-nav li a.btn-link-3:focus,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; opacity: 0.6; color: #000; }

.navbar-brand {
	width: 180px;
	height: 81px;
	background: url(../img/logo.png) left center no-repeat;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }


/***** Top content *****/
#home { background: url('../img/backgrounds/2.jpg') center top no-repeat;}
#causa { background: url('../img/backgrounds/1.jpg') center top no-repeat;}
.top-content { padding: 60px 0 150px 0;}
.top-content .text { padding-top: 60px; color: #fff; }
.top-content .text h1 { color: #fff; font-weight: 300; font-size: 42px; margin: 5px 10px;}
.top-content .text h4 { letter-spacing: 12px; font-weight: 100;}
.top-content .text h3 { margin: 0px 10px; font-weight: 100;}
.top-content .text h3 small { font-style: italic; color: #fff; padding: 0 5px;}

.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }
.registro {background: #f7f7f6; text-align: center;}
.registro .container {margin-top: 10%;}
.registro .panel {border: 1px solid #eaeaea; border-radius: 0; }
.registro .panel-body {padding: 15px 40px; }
.registro .btn-info {text-transform: uppercase; padding: 10px 50px;font-weight: 100; margin: 10px 0;}
.registro .btn-facebook {text-transform: uppercase; padding: 12px 10px; }
.registro .btn-facebook i {margin: 0 8px;}
.registro .btn-google {text-transform: uppercase; padding: 12px 10px; }
.registro .btn-google i {margin: 0 8px;}
.registro form {padding-top: 5%;}
.registro .olvido {color:#888; text-decoration: underline;}
.registro .olvido:hover {color: #8fffde}

.interno {background: #fff; color: #1e1e1e;}
.interno .contenedor {margin-top: 82px; padding-bottom: 10%}
.interno .subheader {background: #f7f7f6; border-bottom: 1px solid #dadada;}
.interno .subheader .container, .interno .contenido .container {padding: 0 5%;}
.interno .usuario { width: 390px; margin-bottom: -70px;margin-top: -35px; padding-right: 5%;}
.interno .breadcrumb {
	margin-bottom: 20px;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	padding: 8px 0;
}
.interno .nav-tabs {
	border-bottom: 0;
}
.interno .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: transparent;
	border: 0;
	/* border-bottom-color: transparent; */
	border-bottom: 2px solid #00e7c1;
}
.interno .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 0;
	border-radius: 0;
	color:#999;
}
.interno .nav-tabs>li>a:hover {
	color:#555;
}
.interno .btn-info {
	padding: 10px 20px;
	text-transform: uppercase;
}
.interno .numero {
	border-radius: 100%;
	border: 2px solid #dadada;
	width: 50px;
	height: 50px;
	line-height: 45px;
	font-size: 28px;
	font-weight: 400;
	overflow: hidden;
	text-align: center;
	float: left;
}
.interno .pre-evento {
	color: #777;
	font-weight: 500;
}
.interno .lleva {
	margin: 10px 0;
}

/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #df6482; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }

/***** Buttons *****/
.btn-facebook { color: #fff; background-color: #395692; border-color: #395692; transition: ease-in-out .5s; border-radius: 0; }
.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {color: #fff; background-color: #27447f; border-color: #395692; } 
.btn-twitter { color: #fff; background-color: #35ade4; border-color: #35ade4; transition: ease-in-out .5s; }
.btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus {color: #fff; background-color: #2797cb; border-color: #35ade4; }
.btn-whatsapp { color: #fff; background-color: #25d366; border-color: #25d366; transition: ease-in-out .5s; }
.btn-whatsapp:hover, .btn-whatsapp:active, .btn-whatsapp:focus {color: #fff; background-color: #1cad52; border-color: #25d366; }
.btn-google { color: #fff; background-color: #de4b39; border-color: #de4b39; transition: ease-in-out .5s; border-radius: 0; }
.btn-google:hover, .btn-google:active, .btn-google:focus {color: #fff; background-color: #bb3c2d; border-color: #de4b39; } 
.fa-2x {font-size: 1.5em;}
.btn-group-justified .btn { padding: 10px 30px; border-radius: 0px; }
.btn-group-justified .btn-group { margin: 0 5px; }
.link-1 { padding: 0 15px; color:#888; }
.link-1:hover {color:#00e7c1;}
.link-1 .fa { padding-right: 20px; color: #00e7c1; }
.hverde { border-top: 1px solid #00e7c1; }
.btn-success { color: #fff; background-color: #00e7c1; border-color: #00e7c1; padding: 10px 15px; border-radius: 0px; margin: 5px 10px 5px 0px;}
.btn-success:hover, .btn-success:active, .btn-success:focus {color: #fff; background-color: #02a79f; border-color: #00e7c1;}
.btn-info { color: #fff; background-color: #02a79f; border-color: #02a79f; padding: 10px 15px; border-radius: 0px;}
.btn-info:hover, .btn-info:active, .btn-info:focus {color: #fff; background-color: #09807a; border-color: #00e7c1;}
.btn-primary { color: #fff; background-color: #999; border-color: #999; padding: 10px 20px; border-radius: 0px;text-transform: uppercase;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {color: #fff; background-color: #777; border-color: #777;}

.donar {
	padding: 20px 30px;
	border: 1px solid #888;
	margin: 20px 0;
}

/**** Inputs ***/
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 25px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #eaeaea;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: transparent;
	border: 0;
	border-left: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 0;
}
.interno .evento-img {
	width: 100%;
	height: 180px;
	background: url('../img/bgresumen.png') center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}
.interno .panel-resumen .panel-body {
	padding: 50px;
}

/* Chart */
.single-chart {
	justify-content: space-around ;
  }
  
  .circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
  }
  
  .circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
  }
  
  .circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
	0% {
	  stroke-dasharray: 0 100;
	}
  }
  
  .circular-chart.green .circle {
	stroke: #00e7c1;
  }
  
  .percentage {
	fill: #666;
	font-size: .5em;
	text-anchor: middle;
  }

/***** Footer *****/

footer { padding: 40px 0 45px 0; background: #00e7c1; color:#fff;}
footer ul li a { color: #fff; } 
footer ul.navbar-nav { margin-top:0; }



/***** MEDIA QUERIES *****/

@media (min-width: 1199px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 45%;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-inverse ul.navbar-nav li a.btn-link-3 {
		margin: 10px 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.navbar-inverse ul.navbar-nav li a.btn-link-3 {
		margin: 10px 5px;
		padding: 6px 20px;
	}
	.nav>li {
		position: relative;
		display: block;
		margin: 0 2px;
	}

	.btn-group-justified .btn {
		padding: 5px;
	}

	.section-description p { padding: 0; }
	
	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {
	
	.navbar { padding-top: 0; background: #00e7c1; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse .navbar-toggle { border-color: transparent; }
	.navbar-inverse ul.navbar-nav li a.btn-link-3 { margin: 10px; }
	
	.section-description p { padding: 0; }
	.section-container .col-izq {margin-top: 20px;}
	.section-container .col-der {margin-top: 10px; padding-left: 20px;}
	.top-content { padding: 40px 0 60px 0; }
	
	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }
	.navbar-inverse .navbar-toggle:hover {
		background-color: transparent !important;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
		background-color: transparent !important;
	}
	.navbar-inverse ul.navbar-nav li a:hover { color: #ddd; border-bottom: none; }
	.navbar-inverse ul.navbar-nav li a.active { color: #fff; outline: 0; border-bottom: none; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 36px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 180px 81px !important;
    }
	
}
